/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Marcellus';
  src: url('/fonts/Marcellus-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-oracle: 'Marcellus', sans-serif;
  --mobile-bg-color: #F1948A;
  --text-color: #4A4A4A;
  --bot-bg-color: #FAF3EA;
  --user-bg-color: #E5DCC5;
  --maroon-color: #C70039;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[color:var(--mobile-bg-color)] text-[color:var(--text-color)] font-sans text-xl font-bold;
  font-family: var(--font-oracle);
}

main {
  @apply flex justify-center items-center h-screen;
}

.chat-window {
  @apply w-full h-screen max-w-[50rem] p-8 space-y-4 bg-transparent;
  font-family: var(--font-oracle);
}

.message {
  @apply p-4 rounded-lg;
}

.user-message {
  @apply bg-[#A93226] rounded-md text-white text-right;
}

.bot-message {
  @apply bg-transparent border-none text-left;
}

.user-input {
  @apply flex items-center mt-4 border-t border-gray-300 pt-4;
}

.user-input input {
  @apply flex-1 p-4 border-none focus:outline-none;
}

.user-input button {
  @apply px-4 py-2 text-white bg-[color:var(--maroon-color)] rounded-full;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.top-blur {
  background: #FADBD8;
  box-shadow: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

